body{
    margin: 0;
    font-family: sans-serif;
}
.nav{
    display: flex;
    margin-top: 30px;
}
.nav-section{
    display: flex;
    margin-top: 20px;
}
.nav-bar img{
    width: 150px;
    margin-left: 60px;
}
.nav li a{
    text-decoration: none;
    margin-left: 50px;
    font-weight: bold;
    font-size: 16px;
    color: rgb(50, 48, 48);

}
.nav li a:hover{
   background-color: rgba(75,129,13,0.95);
   color: #fff;
   padding: 10px;

}
#nav-home a{
    background-color: rgba(75,129,13,0.95);
    padding: 10px;
    color: #fff;
    
    
    
}

.nav li{
    list-style: none;
    
}

.nav-icon{
    color: white;
    background-color: rgba(75,129,13,0.95);
    padding: 10px;
    margin-left: 60px;
    margin-top: -10px;
    
   
}








.upper-section{
    display: flex;
    border-bottom: 1px solid rgb(159, 157, 157);


}

.upper-nav1{
    padding: 10px;

    border-right: 1px solid rgb(15, 15, 15);
    

}
.upper-nav1 a{
    color: black;
    text-decoration: none;
    margin-left: 10px;
    font-weight: bold;
    

    

}
.upper-nav2 a{
    color: black;
    text-decoration: none;
    margin-left: 10px;
    font-weight: bold;

}

.upper-nav2{
    padding: 10px;
    

}

.upper-nav3{
    display: flex;
    margin-left: 540px;

    
}

.upper-nav3 a{
    padding: 10px;
    background-color: rgba(75,129,13,0.95);
    color:white;
    border: 1px solid;
    
}
#curt{
    background-color:white;
    color: rgb(55, 51, 51);

}
#curt:hover{
    background-color:rgba(75,129,13,0.95);
    color: rgb(255, 253, 253);

}

.upper-contact{
    color: rgba(75,129,13,0.95);
}

.phone-icon{
    
    color: rgba(75,129,13,0.95);
    margin-left: 50px;
    
    
}






.header{
    margin-top: 55px;

    margin-bottom: 20px;
    display: flex;
    background-color: rgba(244, 249, 239, 0.95);
  
}

.header-content{
   
    margin-left: 60px;
    margin-top:20px;
}
.header-content h1{
   font-size: 70px;
   font-weight: bold;
}
.header-content p{
   font-size: 20px;

   
}
.header-span{
   font-size: 40px;
   font-weight: normal;
   
}

.header-image img{
    width: 600px;
    margin-top: 20px;
    margin-left: 20px;
}
.header-image{

    margin-top: 20px;
}

.btn{
   background-color: rgba(75,129,13,0.95);
   color: white; 
   padding: 10px;
   font-size: 15px;
   font-weight: bold;
   border-radius: 10px;
}


.welcome h1{
    font-size: 30px;
    font-weight: bold;
    margin-left: 60px;
    margin-top: 80px;
}
.welcome p{
    margin-left: 60px;
    color: rgb(106, 103, 103);
    font-size: 18px;
    margin-right: 35px;    
}








.project{
    display: flex;
   
    margin: 80px;

}

.project1 img{
    width: 100%;
}
.project1 h1{
    font-size: 20px;
    margin-left: 15px;
}
.project1 p{
    
    margin-left: 15px;
}
.project1 {
    border: 1px solid rgb(62, 60, 60);
    margin: 10px;
    /* padding: 10px; */
   
    
}

.btn1{
    background-color:rgba(75,129,13,0.95);
    color: white;
    padding: 5px;
    font-weight: bold;
    border-radius: 5px;
    border-color: rgba(75,129,13,0.95);
    margin-left: 15px;
    margin-bottom: 10px;

}

.projects{
    font-size: 30px;
    font-weight: bold;
    margin-left: 60px;
    margin-top: 80px;
}

.btn3{
    background-color:rgba(75,129,13,0.95);
    color: white;
    padding: 10px;
    margin-left: 550px;
    margin-top: -20px;
    
 
   
}




.blogs{
    display: flex;
    
   

}

.blog1 img{
    width: 100%;
}
.blog1{
    margin: 60px;

}
.blog-head{
    font-size: 30px;
    font-weight: bold;
    margin-left: 60px;
    margin-top: 80px;
}
    

.blog2{
    margin: 60px;
}
.blog2 img{
    width: 100%;
}




input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: rgba(75,129,13,0.95);
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  

  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    margin-top: 100px;
  }
  .row{
display: flex;

  }
  
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
    margin-left: 60px
  }
  .column img {
    margin-left:50px;
    margin-top: -60px;
  }
 .donate{
     width: 580px;
     background-color: rgba(75,129,13,0.95);
 }

  .donation h1{
    font-size: 30px;
    font-weight: bold;
    margin-left: 60px;
    margin-top: 80px;
  }
  .donation p{
    margin-left: 60px;
    
  }



 








